.display-3, .heading1{
  text-align: center;
}
.btn-outline-secondary {
  border: 3px solid
}
a .btn:hover{
  color: #fff;
}
.card{
  height: 100%;
  width: 100%;
  text-align: center;
}.link{
  text-decoration: none;
  color: #fff;
}